div{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  width: 10%;
  margin: 2% 45%;
}

